@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap');

:root {
    --background: white;
    --border-grey: rgba(0, 0, 0, 0.5);
    --very-light-orange: #ffedd5;
    --medium-orange: #fdba74;
    --light-green: #bbf7d0;
    --light-blue: #bfdbfe;
    --light-grey: #d1d5db;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Mulish, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header sub-content"
        "sidebar main sub-content";
}

.sidebar {
    border-right: 1px solid var(--border-grey);
    grid-area: sidebar;
    padding: 30px;
}

.sidebar .sidebar-logo img{
    width: 40px;
    height: 40px;
}

.sidebar .nav {
    padding-left: 0;
    margin-top: 50px;
}

.sidebar .nav > li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
    font-weight: 600;
}

.nav li > img {
    width: 30px;
    height: 30px;
}

.nav li > a {
    text-decoration: none;
    color: black;
}

.header {
    grid-area: header;
    padding: 30px;
}

.search {
    height: 40px;
    width: 500px;
    position: relative;
    margin-left: 20px;
}

.search input {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px var(--border-grey) solid;
    font-size: 16px;
    padding-left: 40px;
}

.search input:focus {
    outline: none;
}

.search label {
    position: absolute;
    top: 7px;
    left: 10px;
}

.search label img {
    width: 30px;
    height: 30px;
}

.main {
    grid-area: main;
}

.sub-content {
    grid-area: sub-content;
}