@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(239, 14, 61);
    border-bottom: 15px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    position: relative;
}

.header img {
    max-width: 700px;
}

.outer-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
    position: absolute;
    bottom: -40px;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.score .current, .score .best {
    font-family: "Press Start 2P", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 60px;
}

.card {
    font-family: "Press Start 2P", sans-serif;
    width: 180px;
    height: 200px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    transition: 0.1s ease-in;
}

.card:hover {
    transform: scale(1.05);
}

.card--image {
    width: 120px;
}

.card--name {
    color: yellow;
    text-transform: uppercase;
}