* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(239, 14, 61);
    border-bottom: 15px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
}