* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-container {
	display: flex;
	flex-direction: column;
}

.index-container h1 {
	color: red;
}
