body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid black;
    padding: 1em;
    width: 350px;
}

form > div > label {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.5em;
}

input {
    font-size: inherit;
    --webkit-appearance: none;
    appearance: none;
    height: 25px;
    border: none;
    border-bottom: 2px solid black;
    padding: .1em;
}

input:focus {
    outline: none;
}

.error {
    color: red;
    display: none;
}

.error.active {
    display: block;
}

form > div {
    margin-bottom: 1em;
}

.center {
    text-align: center;
    margin: auto;
}

button[type="submit"] {
    padding: .5em;
    font-size: 1.5em;
    border-radius: .5em;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}